<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>
    
     <!-- Handle flash messages safely -->
    <% if (typeof messages === 'function') { %>
      <%- messages() %>
    <% } %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
                <%  }) %>
            </ul>
            <% } %>

    
    
    

    <form action="/account/login" method="POST">
      <label for="account_email">Email Address</label>
      <input type="email" id="account_email" name="account_email" placeholder="you@example.com" required>

      <label for="account_password">Password</label>
        <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
      <input type="password" id="account_password" name="account_password" placeholder="••••••••" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
             title="Password must be at least 12 characters long, contain at least one uppercase letter, one lowercase letter, one digit, and one special character. No spaces allowed.">

      <button type="submit">Login</button>
    </form>

    <p class="register-link">
      Don’t have an account?
      <a href="/account/register">Register here</a>
    </p>
  </div>
</div>
