

    <div class="main-display">
        <h1>Welcome to CSE Motors!</h1>
        <img src="../images/vehicles/delorean-tn.jpg" alt="vehicle delorean-tn">
        <div class="transparent">
            <h2>DMC Deleron</h2>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dicel</p>
            <img src="../images/site/own_today.png" alt="own_today-button">
        </div>
    </div>
    
    <div class="sticker">
        <h2>Deleron upgrades</h2>
         <figure>
            <img src="../images/upgrades/flux-cap.png" alt="flux-cap_sticker">
            <figcaption><a href="#">Flux-Capacitor</a></figcaption>
        </figure> 
        <figure>
            <img src="../images/upgrades/flame.jpg" alt="flame_sticker">
            <figcaption><a href="#">Flame Decals</a></figcaption>
        </figure>
        <figure>
            <img src="../images/upgrades/bumper_sticker.jpg" alt="bumper_sticker">
            <figcaption><a href="#">Bumper Stickers</a></figcaption>
        </figure>
        <figure>
            <img src="../images/upgrades/hub-cap.jpg" alt="hub-cap_sticker">
            <figcaption><a href="#">hub-caps</a></figcaption>

        </figure>     
        
        
    </div>
    <div class="description">
        
        <h2>DMC Deleron Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the rod." (4/5)</li>
            <li>"I'm feeling McFly" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>

    

    


    


