<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<div class="deleteInv">
<%- messages() %>
<% if (errors && errors.array().length > 0) { %>
        <ul class="notice">
            <% errors.array().forEach(error => { %>
                <li><%= error.msg %></li>
                <%  }) %>
            </ul>
            <% } %>

<%- deleteInventoryForm %>
</div>